<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" href="~/css/reset.css" >
        <link rel="stylesheet" href="~/css/style.css" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Saira:wght@300&family=Scada&display=swap&family=Comfortaa&display=swap" rel="stylesheet">
        <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
        <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>

        <script src=~/js/scripts.js></script>
    </head>

    <header>
    <a asp-action="Index" asp-controller="Filmix">
        <svg class="logo" width="332" height="57" viewBox="0 0 332 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="166" width="166" height="57" fill="#121317"/>
              <path d="M232.221 48V14.4H238.941V48H232.221ZM251.88 30.96L243.72 14.4H250.92L255.72 24.72L256.2 26.16L256.344 26.88H256.536L256.68 26.16C256.712 26.032 256.776 25.824 256.872 25.536C256.968 25.216 257.064 24.944 257.16 24.72L261.96 14.4H269.16L261 30.96L269.4 48H262.2L257.16 37.2C257.064 36.976 256.968 36.72 256.872 36.432C256.776 36.112 256.712 35.888 256.68 35.76L256.536 35.04H256.344L256.2 35.76L255.72 37.2L250.68 48H243.48L251.88 30.96Z" fill="#BB2020"/>
              <rect x="1" y="1" width="164" height="55" fill="white" stroke="#121317" stroke-width="2"/>
              <path d="M34.0409 46V12.4H54.2009V16.72H40.7609V26.8H51.3209V31.12H40.7609V46H34.0409ZM59.2597 46V12.4H65.9797V46H59.2597ZM74.1191 46V12.4H80.8391V41.68H93.7991V46H74.1191ZM98.3534 12.4H104.833L114.193 31.36C114.513 32.064 114.721 32.592 114.817 32.944L115.057 33.76H115.249L115.489 32.944C115.585 32.592 115.793 32.064 116.113 31.36L125.473 12.4H131.953V46H125.233V26.08C125.233 25.088 125.265 24.384 125.329 23.968L125.473 22.912H125.281C125.121 23.456 125.009 23.808 124.945 23.968C124.561 24.928 124.257 25.632 124.033 26.08L116.593 40.48H113.233L106.273 26.56C105.889 25.76 105.585 25.056 105.361 24.448C105.297 24.288 105.185 23.936 105.025 23.392H104.833L104.929 24.448C105.025 25.696 105.073 26.4 105.073 26.56V46H98.3534V12.4Z" fill="#121317"/>
              <path d="M34.0409 46H33.0409V47H34.0409V46ZM34.0409 12.4V11.4H33.0409V12.4H34.0409ZM54.2009 12.4H55.2009V11.4H54.2009V12.4ZM54.2009 16.72V17.72H55.2009V16.72H54.2009ZM40.7609 16.72V15.72H39.7609V16.72H40.7609ZM40.7609 26.8H39.7609V27.8H40.7609V26.8ZM51.3209 26.8H52.3209V25.8H51.3209V26.8ZM51.3209 31.12V32.12H52.3209V31.12H51.3209ZM40.7609 31.12V30.12H39.7609V31.12H40.7609ZM40.7609 46V47H41.7609V46H40.7609ZM35.0409 46V12.4H33.0409V46H35.0409ZM34.0409 13.4H54.2009V11.4H34.0409V13.4ZM53.2009 12.4V16.72H55.2009V12.4H53.2009ZM54.2009 15.72H40.7609V17.72H54.2009V15.72ZM39.7609 16.72V26.8H41.7609V16.72H39.7609ZM40.7609 27.8H51.3209V25.8H40.7609V27.8ZM50.3209 26.8V31.12H52.3209V26.8H50.3209ZM51.3209 30.12H40.7609V32.12H51.3209V30.12ZM39.7609 31.12V46H41.7609V31.12H39.7609ZM40.7609 45H34.0409V47H40.7609V45ZM59.2597 46H58.2597V47H59.2597V46ZM59.2597 12.4V11.4H58.2597V12.4H59.2597ZM65.9797 12.4H66.9797V11.4H65.9797V12.4ZM65.9797 46V47H66.9797V46H65.9797ZM60.2597 46V12.4H58.2597V46H60.2597ZM59.2597 13.4H65.9797V11.4H59.2597V13.4ZM64.9797 12.4V46H66.9797V12.4H64.9797ZM65.9797 45H59.2597V47H65.9797V45ZM74.1191 46H73.1191V47H74.1191V46ZM74.1191 12.4V11.4H73.1191V12.4H74.1191ZM80.8391 12.4H81.8391V11.4H80.8391V12.4ZM80.8391 41.68H79.8391V42.68H80.8391V41.68ZM93.7991 41.68H94.7991V40.68H93.7991V41.68ZM93.7991 46V47H94.7991V46H93.7991ZM75.1191 46V12.4H73.1191V46H75.1191ZM74.1191 13.4H80.8391V11.4H74.1191V13.4ZM79.8391 12.4V41.68H81.8391V12.4H79.8391ZM80.8391 42.68H93.7991V40.68H80.8391V42.68ZM92.7991 41.68V46H94.7991V41.68H92.7991ZM93.7991 45H74.1191V47H93.7991V45ZM98.3534 12.4V11.4H97.3534V12.4H98.3534ZM104.833 12.4L105.73 11.9573L105.455 11.4H104.833V12.4ZM114.193 31.36L115.104 30.9462L115.097 30.9317L115.09 30.9173L114.193 31.36ZM114.817 32.944L113.853 33.2071L113.855 33.2167L113.858 33.2262L114.817 32.944ZM115.057 33.76L114.098 34.0422L114.309 34.76H115.057V33.76ZM115.249 33.76V34.76H115.998L116.209 34.0422L115.249 33.76ZM115.489 32.944L116.449 33.2262L116.452 33.2167L116.454 33.2071L115.489 32.944ZM116.113 31.36L115.217 30.9173L115.21 30.9317L115.203 30.9462L116.113 31.36ZM125.473 12.4V11.4H124.852L124.577 11.9573L125.473 12.4ZM131.953 12.4H132.953V11.4H131.953V12.4ZM131.953 46V47H132.953V46H131.953ZM125.233 46H124.233V47H125.233V46ZM125.329 23.968L126.318 24.1201L126.319 24.1116L126.32 24.1031L125.329 23.968ZM125.473 22.912L126.464 23.0471L126.619 21.912H125.473V22.912ZM125.281 22.912V21.912H124.533L124.322 22.6298L125.281 22.912ZM124.945 23.968L125.874 24.3394L125.874 24.3394L124.945 23.968ZM124.033 26.08L124.922 26.5391L124.928 26.5272L124.033 26.08ZM116.593 40.48V41.48H117.202L117.482 40.939L116.593 40.48ZM113.233 40.48L112.339 40.9272L112.615 41.48H113.233V40.48ZM106.273 26.56L105.372 26.9927L105.375 27L105.379 27.0072L106.273 26.56ZM105.361 24.448L106.3 24.1023L106.295 24.0894L106.29 24.0766L105.361 24.448ZM105.025 23.392L105.985 23.1098L105.774 22.392H105.025V23.392ZM104.833 23.392V22.392H103.738L103.838 23.4825L104.833 23.392ZM104.929 24.448L105.927 24.3713L105.925 24.3575L104.929 24.448ZM105.073 46V47H106.073V46H105.073ZM98.3534 46H97.3534V47H98.3534V46ZM98.3534 13.4H104.833V11.4H98.3534V13.4ZM103.937 12.8427L113.297 31.8027L115.09 30.9173L105.73 11.9573L103.937 12.8427ZM113.283 31.7738C113.6 32.4705 113.779 32.9372 113.853 33.2071L115.782 32.6809C115.664 32.2468 115.427 31.6575 115.104 30.9462L113.283 31.7738ZM113.858 33.2262L114.098 34.0422L116.017 33.4778L115.777 32.6618L113.858 33.2262ZM115.057 34.76H115.249V32.76H115.057V34.76ZM116.209 34.0422L116.449 33.2262L114.53 32.6618L114.29 33.4778L116.209 34.0422ZM116.454 33.2071C116.528 32.9372 116.707 32.4705 117.024 31.7738L115.203 30.9462C114.88 31.6575 114.643 32.2468 114.525 32.6809L116.454 33.2071ZM117.01 31.8027L126.37 12.8427L124.577 11.9573L115.217 30.9173L117.01 31.8027ZM125.473 13.4H131.953V11.4H125.473V13.4ZM130.953 12.4V46H132.953V12.4H130.953ZM131.953 45H125.233V47H131.953V45ZM126.233 46V26.08H124.233V46H126.233ZM126.233 26.08C126.233 25.0892 126.267 24.4532 126.318 24.1201L124.341 23.8159C124.264 24.3148 124.233 25.0868 124.233 26.08H126.233ZM126.32 24.1031L126.464 23.0471L124.483 22.7769L124.339 23.8329L126.32 24.1031ZM125.473 21.912H125.281V23.912H125.473V21.912ZM124.322 22.6298C124.159 23.1845 124.06 23.4888 124.017 23.5966L125.874 24.3394C125.959 24.1272 126.084 23.7275 126.241 23.1942L124.322 22.6298ZM124.017 23.5966C123.635 24.5519 123.343 25.2238 123.139 25.6328L124.928 26.5272C125.171 26.0402 125.488 25.3041 125.874 24.3394L124.017 23.5966ZM123.145 25.621L115.705 40.021L117.482 40.939L124.922 26.539L123.145 25.621ZM116.593 39.48H113.233V41.48H116.593V39.48ZM114.128 40.0328L107.168 26.1128L105.379 27.0072L112.339 40.9272L114.128 40.0328ZM107.175 26.1273C106.8 25.3461 106.51 24.6722 106.3 24.1023L104.423 24.7937C104.661 25.4398 104.979 26.1739 105.372 26.9927L107.175 26.1273ZM106.29 24.0766C106.247 23.9688 106.148 23.6645 105.985 23.1098L104.066 23.6742C104.223 24.2075 104.348 24.6072 104.433 24.8194L106.29 24.0766ZM105.025 22.392H104.833V24.392H105.025V22.392ZM103.838 23.4825L103.934 24.5385L105.925 24.3575L105.829 23.3015L103.838 23.4825ZM103.932 24.5247C103.98 25.1476 104.016 25.6323 104.04 25.98C104.052 26.1541 104.06 26.2914 104.066 26.3935C104.069 26.4445 104.071 26.4847 104.072 26.515C104.073 26.5478 104.073 26.5604 104.073 26.56H106.073C106.073 26.3501 106.02 25.5901 105.926 24.3713L103.932 24.5247ZM104.073 26.56V46H106.073V26.56H104.073ZM105.073 45H98.3534V47H105.073V45ZM99.3534 46V12.4H97.3534V46H99.3534Z" fill="#121317"/>
        </svg>
    </a>


    <div class="header_elem">
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2.125C0 1.56141 0.223883 1.02091 0.622398 0.622398C1.02091 0.223883 1.56141 0 2.125 0L31.875 0C32.4386 0 32.9791 0.223883 33.3776 0.622398C33.7761 1.02091 34 1.56141 34 2.125V31.875C34 32.4386 33.7761 32.9791 33.3776 33.3776C32.9791 33.7761 32.4386 34 31.875 34H2.125C1.56141 34 1.02091 33.7761 0.622398 33.3776C0.223883 32.9791 0 32.4386 0 31.875V2.125ZM8.5 2.125V14.875H25.5V2.125H8.5ZM25.5 19.125H8.5V31.875H25.5V19.125ZM2.125 2.125V6.375H6.375V2.125H2.125ZM6.375 8.5H2.125V12.75H6.375V8.5ZM2.125 14.875V19.125H6.375V14.875H2.125ZM6.375 21.25H2.125V25.5H6.375V21.25ZM2.125 27.625V31.875H6.375V27.625H2.125ZM31.875 2.125H27.625V6.375H31.875V2.125ZM27.625 8.5V12.75H31.875V8.5H27.625ZM31.875 14.875H27.625V19.125H31.875V14.875ZM27.625 21.25V25.5H31.875V21.25H27.625ZM31.875 27.625H27.625V31.875H31.875V27.625Z" fill="#F2E6D8"/>
        </svg>

        <a  asp-action="Index" asp-controller="Filmix">ФИЛЬМЫ</a>
    </div>

    <div class="header_elem">
        <svg width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 16C17.6819 16 20.6667 13.0153 20.6667 9.33335C20.6667 5.65146 17.6819 2.66669 14 2.66669C10.3181 2.66669 7.33334 5.65146 7.33334 9.33335C7.33334 13.0153 10.3181 16 14 16Z" stroke="#F2E6D8" stroke-width="4"/>
        <path d="M20.6667 18.6667H21.136C22.1108 18.667 23.0519 19.0232 23.7826 19.6684C24.5132 20.3136 24.9831 21.2034 25.104 22.1707L25.6253 26.336C25.6722 26.7113 25.6388 27.0922 25.5272 27.4535C25.4156 27.8148 25.2285 28.1483 24.9782 28.4318C24.7279 28.7152 24.4201 28.9422 24.0754 29.0976C23.7307 29.2531 23.3568 29.3334 22.9787 29.3334H5.02134C4.64319 29.3334 4.26934 29.2531 3.9246 29.0976C3.57987 28.9422 3.27214 28.7152 3.02184 28.4318C2.77154 28.1483 2.58439 27.8148 2.47282 27.4535C2.36124 27.0922 2.32778 26.7113 2.37468 26.336L2.89468 22.1707C3.01561 21.203 3.4859 20.3128 4.21712 19.6675C4.94834 19.0222 5.89011 18.6663 6.86534 18.6667H7.33334" stroke="#F2E6D8" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <a asp-action="Actors" asp-controller="Filmix">АКТЕРЫ</a>
    </div>

   <div class="header_elem">
        <svg width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M27 13.3333C27 11.735 25.8666 10.3983 24.365 10.0767C24.965 9.075 25.3333 7.91667 25.3333 6.66667C25.3333 2.99 22.3433 0 18.6666 0C16.1383 0 13.965 1.42833 12.8333 3.50667C11.7016 1.42833 9.52831 0 6.99998 0C3.32331 0 0.333313 2.99 0.333313 6.66667C0.333313 8.17 0.853313 9.545 1.69498 10.66C1.27429 10.9676 0.931852 11.3699 0.695313 11.8343C0.458775 12.2987 0.33477 12.8122 0.333313 13.3333V26.6667C0.333313 28.505 1.82831 30 3.66665 30H23.6666C25.505 30 27 28.505 27 26.6667V22.27L33.6666 25.6033V13.9367L27 17.27V13.3333ZM18.6666 3.33333C20.505 3.33333 22 4.82833 22 6.66667C22 8.505 20.505 10 18.6666 10C16.8283 10 15.3333 8.505 15.3333 6.66667C15.3333 4.82833 16.8283 3.33333 18.6666 3.33333ZM6.99998 3.33333C8.83831 3.33333 10.3333 4.82833 10.3333 6.66667C10.3333 8.505 8.83831 10 6.99998 10C5.16165 10 3.66665 8.505 3.66665 6.66667C3.66665 4.82833 5.16165 3.33333 6.99998 3.33333ZM3.66665 26.6667V13.3333H23.6666L23.67 26.6667H3.66665Z" fill="#F2E6D8"/>
        </svg>
        <a  asp-action="Genres" asp-controller="Filmix">ЖАНРЫ</a>
    </div>


    @if(User.Identity.IsAuthenticated)
    {
        <div class="header_elem">
            <svg width="1" height="56" viewBox="0 0 1 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" x2="0.5" y2="58" stroke="black"/>
            </svg>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM17.5 5.25C20.405 5.25 22.75 7.595 22.75 10.5C22.75 13.405 20.405 15.75 17.5 15.75C14.595 15.75 12.25 13.405 12.25 10.5C12.25 7.595 14.595 5.25 17.5 5.25ZM17.5 30.1C13.125 30.1 9.2575 27.86 7 24.465C7.0525 20.9825 14 19.075 17.5 19.075C20.9825 19.075 27.9475 20.9825 28 24.465C25.7425 27.86 21.875 30.1 17.5 30.1Z" fill="#F2E6D8"/>
            </svg>
            <a asp-controller="Account" asp-action="Logout" style="margin-right:10px">ВЫХОД</a>
        </div>
    }
    else
    {
        <div class="header_elem">
            <svg width="1" height="56" viewBox="0 0 1 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.5" x2="0.5" y2="58" stroke="black"/>
            </svg>
            <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 0C7.84 0 0 7.84 0 17.5C0 27.16 7.84 35 17.5 35C27.16 35 35 27.16 35 17.5C35 7.84 27.16 0 17.5 0ZM17.5 5.25C20.405 5.25 22.75 7.595 22.75 10.5C22.75 13.405 20.405 15.75 17.5 15.75C14.595 15.75 12.25 13.405 12.25 10.5C12.25 7.595 14.595 5.25 17.5 5.25ZM17.5 30.1C13.125 30.1 9.2575 27.86 7 24.465C7.0525 20.9825 14 19.075 17.5 19.075C20.9825 19.075 27.9475 20.9825 28 24.465C25.7425 27.86 21.875 30.1 17.5 30.1Z" fill="#F2E6D8"/>
            </svg>
            <a asp-controller="Account" asp-action="Login" style="margin-right:10px">ВХОД</a>
        </div>
    }

</header>

    <body>
        @RenderBody()
        <a asp-controller="Content" asp-action="Home" style="color:white;font-size:40px;text-decoration:none">Редактирование контента</a>
    </body>

</html>