@model Filmix.Models.AccountModels.LoginViewModel

<link rel="stylesheet" href="~/css/login.css" >
<div>
    <h1>Вход в систему</h1>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly" ></div>

        <div>
            <label asp-for="Email" class="text"></label>
            <input asp-for="Email"/>
            <span asp-validation-for="Email" ></span>
        </div>

        <div>
            <label asp-for="Password" class="text"></label>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"  ></span>
        </div>

        <input type="submit" value="Войти" class="send_button"/>
    </form>
</div>

<div>
   <h3>Нет аккаунта? Зарегестрируйтесь</h3>
   <a asp-action="Register" asp-controller="Account" >Зарегестрироваться</a>
</div>