@model Filmix.Models.AccountModels.LoginViewModel
@{
    ViewBag.Title = "Вход";
}
<link rel="stylesheet" href="~/css/login.css" >

<div class="center">
    <div class="error_container">
            <div asp-validation-summary="ModelOnly"></div>

            <span id="error1" asp-validation-for="Login"></span>

            <span id="error2" asp-validation-for="Password"  ></span>

    </div>


    <form style="height: 400px" class="form" method="post" asp-controller="Account" asp-action="Login">
          <div class="title">Вход</div>

          <div class="input-container ic2">
            <input asp-for="Login" class="input"  placeholder=" " />
            <div class="cut cut-short"></div>
            <label asp-for="Login" class="placeholder"></label>
          </div>

          <div class="input-container ic2">
            <input  asp-for="Password" class="input"  placeholder=" " />
            <div class="cut cut-short"></div>
            <label asp-for="Password" class="placeholder"></label>
          </div>



          <input type="submit" class="submit" value="Войти"/>

          <a class="already_button" asp-action="Register" asp-controller="Account" >У меня нет аккаунта</a>
        
    </form>
</div>

<script>
    function showError() {
        var error1 = document.getElementById('error1');
        var error2 = document.getElementById('error2');


        if(error1.textContent.length==0)
            error1.style.display='none';
        if(error2.textContent.length==0)
            error2.style.display='none';
    }

    showError()
</script>