@model Filmix.Models.AccountModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
<link rel="stylesheet" href="~/css/login.css"/>

<div class="center">
    
    <div class="error_container">
            <div  asp-validation-summary="ModelOnly"></div>
            <span id="error1" asp-validation-for="Name"></span>
            <span id="error2" asp-validation-for="Email"></span>
            <span id="error3" asp-validation-for="Password"  ></span>
            <span id="error4" asp-validation-for="PasswordConfirm"  ></span>
    </div>

    <form class="form" method="post" asp-controller="Account" asp-action="Register">
          <div class="title">Регистрация</div>

          <div class="input-container ic1">
            <input asp-for="Name" class="input" placeholder=" " />
            <div class="cut"></div>
            <label asp-for="Name" class="placeholder"></label>
          </div>

          <div class="input-container ic2">
            <input asp-for="Email" class="input"  placeholder=" " />
            <div class="cut cut-short"></div>
            <label asp-for="Email" class="placeholder"></label>
          </div>

          <div class="input-container ic2">
            <input  asp-for="Password" class="input"  placeholder=" " />
            <div class="cut cut-short"></div>
            <label asp-for="Password" class="placeholder"></label>
          </div>

          <div class="input-container ic2">
            <input asp-for="PasswordConfirm" class="input" placeholder=" " />
            <div class="cut cut-short"></div>
            <label asp-for="PasswordConfirm" class="placeholder"></label>
          </div>

          <input type="submit" class="submit" value="Зарегестрироваться"/>

          <a class="already_button" asp-action="Login" asp-controller="Account" >Уже есть аккаунт</a>
        
    </form>
</div>

<script>

function showError() {
    var error1 = document.getElementById('error1');
    var error2 = document.getElementById('error2');
    var error3 = document.getElementById('error3');
    var error4 = document.getElementById('error4');

    if(error1.textContent.length==0)
        error1.style.display='none';
    if(error2.textContent.length==0)
        error2.style.display='none';
    if(error3.textContent.length==0)
        error3.style.display='none';
    if(error4.textContent.length==0)
        error4.style.display='none';

}

showError()
</script>