@model Filmix.Models.ActorModels.Actor

@{
    ViewBag.Title = "Добавление актера";
}
<div class="form_container">

<form method="post" asp-action="AddActor" asp-controller="Content" class="form">
    <div class="form_field">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    
    <div class="form_field">
        <label asp-for="EngName"></label>
        <input asp-for="EngName"/>
    </div>

    <div class="form_field">
        <label asp-for="Image"></label>
        <input asp-for="Image"/>
    </div>

    <div class="form_field">
        <label asp-for="DateBirth"></label>
        <input asp-for="DateBirth"/>
    </div class="form_field">

    <div class="form_field">
        <label asp-for="PlaceBirth"></label>
        <input asp-for="PlaceBirth"/>
    </div>

    <div class="form_field">
        <label asp-for="Height"></label>
        <input asp-for="Height"/>
    </div>

    <div class="form_field">
        <label asp-for="Genres"></label>
        <input asp-for="Genres"/>
    </div>

    <div class="form_field">
        <label asp-for="FilmCount"></label>
        <input asp-for="FilmCount"/>
    </div>
    

    <input class="save_button" type="submit" value="Сохранить"/>
</form>
    <a class="form_back_button" asp-action="Actors" asp-controller="Content">Назад</a>

</div>