@model Filmix.Models.GenreModels.Genre
@{
    ViewBag.Title = "Добавление жанра";
}
<div class="form_container">

<form method="post" asp-action="AddGenre" asp-controller="Content" class="form">
    <div class="form_field">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    

    <div class="form_field">
        <label asp-for="Image"></label>
        <input asp-for="Image"/>
    </div>   

    <input class="save_button" type="submit" value="Сохранить"/>
</form>
    <a class="form_back_button" asp-action="Genres" asp-controller="Content">Назад</a>

</div>