@model Filmix.Models.ActorModels.Actor

<div class="form_container">

<form method="post" asp-action="EditActor" asp-controller="Content" class="form">
    <div class="form_field">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    
    <div class="form_field">
        <label asp-for="Slug"></label>
        <input asp-for="Slug"/>
    </div>

    <div class="form_field">
        <label asp-for="Image"></label>
        <input asp-for="Image"/>
    </div>

    <div class="form_field">
        <label asp-for="DateBirth"></label>
        <input asp-for="DateBirth"/>
    </div class="form_field">

    <div class="form_field">
        <label asp-for="PlaceBirth"></label>
        <input asp-for="PlaceBirth"/>
    </div>

    <div class="form_field">
        <label asp-for="Height"></label>
        <input asp-for="Height"/>
    </div>

    <div class="form_field">
        <label asp-for="Genres"></label>
        <input asp-for="Genres"/>
    </div>

    <div class="form_field">
        <label asp-for="FilmCount"></label>
        <input asp-for="FilmCount"/>
    </div>
    

    <input class="save_button"  type="submit" value="Сохранить"/>
    

</form>
<div class = "form_buttons">
    <a class="change_button"  asp-action="ChangeFilmsInActor" asp-route-actorId="@Model.Id">Изменить фильмы актера</a>
    <a class="delete_button"  asp-action="DeleteActor" asp-route-actorId="@Model.Id">Удалить актера</a>
</div>

<a class="form_back_button" asp-action="Actors" asp-controller="Content">Назад</a>
</div>