@model Filmix.Models.ActorModels.Actor

<a class="back_button" asp-action="Actors" asp-controller="Content">Назад</a>

<form method="post" asp-action="EditActor" asp-controller="Content" class="form">
    <div class="form_field">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    
    <div class="form_field">
        <label asp-for="Slug"></label>
        <input asp-for="Slug"/>
        <span asp-validation-for="Slug"></span>
    </div>

    <div class="form_field">
        <label asp-for="Image"></label>
        <input asp-for="Image"/>
        <span asp-validation-for="Image"></span>
    </div>

    <div class="form_field">
        <label asp-for="DateBirth"></label>
        <input asp-for="DateBirth"/>
        <span asp-validation-for="DateBirth"></span>
    </div class="form_field">

    <div class="form_field">
        <label asp-for="PlaceBirth"></label>
        <input asp-for="PlaceBirth"/>
        <span asp-validation-for="PlaceBirth"></span>
    </div>

    <div class="form_field">
        <label asp-for="Height"></label>
        <input asp-for="Height"/>
        <span asp-validation-for="Height"></span>
    </div>

    <div class="form_field">
        <label asp-for="Genres"></label>
        <input asp-for="Genres"/>
        <span asp-validation-for="Genres"></span>
    </div>

    <div class="form_field">
        <label asp-for="FilmCount"></label>
        <input asp-for="FilmCount"/>
        <span asp-validation-for="FilmCount"></span>
    </div>
    

    <input  type="submit" value="Сохранить"/>
</form>
