@model Filmix.Models.GenreModels.Genre

<div class="form_container">

<form method="post" asp-action="EditGenre" asp-controller="Content" class="form">
    <div class="form_field">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    
    <div class="form_field">
        <label asp-for="Slug"></label>
        <input asp-for="Slug"/>
    </div>

    <div class="form_field">
        <label asp-for="Image"></label>
        <input asp-for="Image"/>
    </div>

    <div class="form_field">
        <label asp-for="BackgroundImage"></label>
        <input asp-for="BackgroundImage"/>
    </div>    

    <input class="save_button" type="submit" value="Сохранить"/>
    
</form>

<div class = "form_buttons">
    <a class="change_button" asp-action="ChangeFilmsInGenre" asp-route-GenreId="@Model.Id">Изменить фильмы жанра</a>
    <a class="delete_button"  asp-action="DeleteGenre" asp-route-genreId="@Model.Id">Удалить жанр</a>
</div>

<a class="form_back_button" asp-action="Genres" asp-controller="Content">Назад</a>
</div>
