@model Filmix.Models.FilmModels.Film

@{
    ViewBag.Title = Model.Name;

}

<div class="form_container">

<form method="post" asp-action="EditFilm" asp-controller="Content" class="form">
    
    <div class="form_description">
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    
    <div class="form_field">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    
    <div class="form_field">
        <label asp-for="EngName"></label>
        <input asp-for="EngName"/>
    </div>

    <div class="form_field">
        <label asp-for="PosterImage"></label>
        <input asp-for="PosterImage"/>
    </div>

    <div class="form_field">
        <label asp-for="PlayerImage"></label>
        <input asp-for="PlayerImage"/>
    </div>

    <div class="form_field">
        <label asp-for="Video"></label>
        <input asp-for="Video"/>
    </div>

    <div class="form_field">
        <label asp-for="Duration"></label>
        <input asp-for="Duration"/>
    </div class="form_field">

    <div class="form_field">
        <label asp-for="Country"></label>
        <input asp-for="Country"/>
    </div>

    <div class="form_field">
        <label asp-for="Producer"></label>
        <input asp-for="Producer"/>
    </div>

    <div class="form_field">
        <label asp-for="Company"></label>
        <input asp-for="Company"/>
    </div>
    
    <div class="form_field">
        <label asp-for="Rating"></label>
        <input asp-for="Rating"/>
    </div>

    <div class="form_field">
        <label asp-for="Year"></label>
        <input type="number" asp-for="Year"/>
    </div>


    <input class="save_button" type="submit" value="Сохранить"/>
</form>

    <div class = "form_buttons">
        <a class="change_button" asp-action="ChangeActorsInFilm" asp-route-filmId="@Model.Id">Изменить актеров фильма</a>

        <a class="change_button" asp-action="ChangeGenresInFilm" asp-route-FilmId="@Model.Id">Изменить жанры фильма</a>

        <a class="delete_button"  asp-action="DeleteFilm" asp-route-filmId="@Model.Id">Удалить фильм</a>

    </div>
    
    <a class="form_back_button" asp-action="Films" asp-controller="Content">Назад</a>

</div>