@{
    ViewBag.Title = "Редактор контента";
}

<div class="home">

    <h1>Редактирование контента</h1>

<div class="home_buttons">
    <a asp-controller="Content" asp-action="Films">Редактор фильмов</a>
    <a asp-controller="Content" asp-action="Actors">Редактор актеров</a> 
    <a asp-controller="Content" asp-action="Genres">Редактор жанров</a>  
</div>

<a class="home_back_button" asp-action="Index" asp-controller="Filmix">На главную</a>
</div>

