

<h1>Добро пожаловать на страницу редактирования контента!</h1>
<h1>Выберите действие:</h1>
<a asp-controller="Content" asp-action="Films">Редактор фильмов</a>
<a asp-controller="Content" asp-action="Actors">Редактор актеров</a>
<a asp-controller="Content" asp-action="Genres">Редактор жанров</a>