

<h1>Добро пожаловать на страницу редактирования контента!</h1>
<h1>Выберите действие:</h1>
<div class="home_buttons">
    <a class="action_button" asp-controller="Content" asp-action="Films">Редактор фильмов</a>  
    <a class="action_button" asp-controller="Content" asp-action="Actors">Редактор актеров</a> 
    <a class="action_button" asp-controller="Content" asp-action="Genres">Редактор жанров</a>  
</div>
<a class="back_button" asp-action="Index" asp-controller="Film">На главную</a>