
@{ViewBag.Title = "Главная";}

@if(User.Identity.IsAuthenticated)
{
    <h3>Привет @User.Identity.Name</h3>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
    <a asp-controller="Account" asp-action="Login">Логин</a>
}
