body {
    background: #b8bfc5;


}



/*#region Таблица*/

.table {
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.table th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 1px solid #dddddd;
}

.table td {
        padding: 5px 10px;
        border: 1px solid #eee;
        text-align: left;
}

.table tbody tr:nth-child(odd) {
        transition:1s;
        background: #fff;
}

.table tbody tr:nth-child(even) {
        transition: 1s;
        background: #F7F7F7;
}

.table tbody tr:hover {
        background: #f9ca8a;
        cursor:pointer;
}


.description {
    display:-webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*#endregion*/

/*#region Кнопки действий*/
.action_button {
    font-size: 19px;
    transition: 0.8s;
    text-decoration: none;
    color: #3a3eac;
}

.action_button:hover {
        color: red;
        font-size:25px;
}

.home_buttons{

    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:150px;
    width:200px;
}

.back_button {
    font-size: 40px;
    transition: 0.8s;
    text-decoration: none;
    color: #3a3eac;
}

.back_button:hover {
        color: red;
        font-size: 50px;
}


.change_button {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.change_button:hover {
        color:red;
}
/*#endregion*/

/*#region Форма изменения данных*/
.form {
    float: left;
}

.form_field{
    clear:both;
    text-align:right;
    line-height:30px;
}

.form_field label{
    float:left;
    padding-right:30px;
}

.form_description{
    position:absolute;
    margin-left:40%;
}
    .form_description textarea {
        resize:none;
        width: 481px;
        height: 260px;
    }


/*#endregion*/


